body{
    margin: 0;
    padding: 0;
    background-color:#FFF8F3;
}
.container{
    display: grid;
    grid-template-columns: 25% 42% 35px 35px 27%;
    background: #890A0A;
}
header{
    color: #FFF8F3;
    height: 80px;
}
a.left{
    margin-left: 90% ;
    margin-top: 30px;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
}
h2{
    text-align: center;
}

 a.right{
    align: right;
    margin-top: 30px;
    min-height: 15px;
    min-width: 15px;
    max-width: 30px;
    max-height: 30px;
}div.table{
    height: 80px;

}
 div h1{
    font-family: 'Kurale', serif; 
    font-size: 30px;
    text-align: center;
    color: #FDD8D8;
    margin:0;
}
div h2{
    font-family: 'Lora', serif; 
    font-size: 15px ;
    color: #FFF8F3;
    margin:0;
    } 
main img.foto{
    height: 250px;
    border-radius: 10px; 
} 
main a.bottom{
    background-color:#FDD8D8;
    padding: 15px;
    border-radius: 10px;

}
@media (max-width: 720px){
    div h1{
        font-size: 20px;
    }
    a.left{
        margin-left: 40%;
    }
    a.margin{
        margin-left: 3px;
    }

    }


}  



