body{
    margin: 0;
    padding: 0;
    color:aquamarine;
}
.container{
    display: grid;
    grid-template-columns: 25% 42% 35px 35px 27%;
    background: #890A0A;
}
header{
    color: #FFF8F3;
    height: 80px;
}
a.left{
    margin-left: 90% ;
    margin-top: 30px;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
}
h2{
    text-align: center;
}

 a.right{
    align: right;
    margin-top: 30px;
    min-height: 20px;
    min-width: 20px;
    max-width: 30px;
    max-height: 30px;
}div.table{
    height: 80px;

}
 div h1{
    font-family: 'Kurale', serif; 
    font-size: 30px;
    text-align: center;
    color: #FFF8F3;
    margin:0;
}
div h2{
    font-family: 'Lora', serif; 
    font-size: 15px ;
    color: #FFF8F3;
    margin:0;
    }  
@media (max-width: 720px){
    body{
    background-color: black;
    }
}  



